/* Ajustes para a seção Hero */
.hero-section {
  background-color: #f9f9f9; /* Ajuste conforme necessário */
  color: #333333;
  padding: 4rem 2rem;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  color: #ff3366;
}

.hero-section p {
  font-size: 1.25rem;
  color: #666666;
}

.hero-section .btn {
  background-color: #ff3366;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.hero-section .btn:hover {
  background-color: #e62e5c;
} 